body {
  overflow-y: none;
}
.dateFirst {
  background-color: gray;
  color: white;
  /* width: 2em; */
}
.dateFirst:hover,
th:hover {
  background-color: aqua;
  cursor: pointer;
}
.clickDay {
  background-color: red !important;
  color: black !important;
}
.clickDay:hover {
  background-color: red;
  cursor: pointer;
}
.infor,
.date {
  /* width: 2em; */
  border: 1px solid black;
  font-size: smaller;
}
th {
  width: 0.5em;
}
